<template>
    <v-container class="form-container">
        <v-btn color="#C31C51" class="top-button" @click="goToContactList()">
            <v-icon>
                mdi-arrow-left
            </v-icon>
            &nbsp;
            Back To Cantact List
        </v-btn>
        <v-form
        @submit.prevent="editContact()"
        ref="form"
        v-model="valid"
        lazy-validation>
            <v-text-field
            v-model="editName"
            label="Name"
            required
            ></v-text-field>

            <v-text-field
            v-model="editNumber"
            label="Number"
            required
            ></v-text-field>
            <v-alert
                :class = alertDisplay
                border="top"
                color="#F91C1C"
                >
                Incorrect Validation
            </v-alert>
            <v-btn dark type='submit'>
                Edit
                &nbsp;
                <v-icon>
                mdi-pencil
                </v-icon>
            </v-btn>
        </v-form>
    </v-container>
</template>

<script>
export default {
    data () {
      return { 
          context: this.$store.state.contactList,
          date : new Date(),
          editName : this.$store.state.contactList[this.$store.state.editedIndex].name,
          editNumber : this.$store.state.contactList[this.$store.state.editedIndex].number,
          alertDisplay: 'alert-none'
        }
    },
    methods: {  
        goToContactList(){
            this.$router.push({name: 'contact-list'})
        },
        // removeAlert(){
        //     this.alertDisplay = 'alert-block'; 
        // },
        editContact(){
            if (this.editName === undefined || this.editName.length === 0 || this.editNumber === undefined || this.editNumber.length === 0) {
                this.alertDisplay = 'alert-block'; 
            }else{
                this.alertDisplay = 'alert-none';
                this.$store.state.contactList[this.$store.state.editedIndex].name = this.editName;
                this.$store.state.contactList[this.$store.state.editedIndex].number = this.editNumber;
                this.$store.state.contactList[this.$store.state.editedIndex].createdDate = 
                    ` ${`${this.date.getHours()}`.length > 1 ? this.date.getHours(): `0${this.date.getHours()}`}:${`${this.date.getMinutes()}`.length > 1 ? this.date.getMinutes():`0${this.date.getMinutes()}`}`
                this.$store.state.contactList[this.$store.state.editedIndex].edited = true;
                console.log(this.$store.state.contactList);
                localStorage.setItem("contactVue", JSON.stringify(this.$store.state.contactList));            
                this.goToContactList()
            }
        },
    },
}
</script>

<style lang="scss" scoped>
    .form-container{
        width: 500px !important;
        .v-alert{
            color: #fff;
        }
        .alert-block{
            display: block;
        }
        .alert-none{
            display: none;
        }
    }
</style>