<template>
<v-container class="form-container">
    <v-btn color="#C31C51" class="top-button" @click="goToContactList()">
        <v-icon>
            mdi-arrow-left
        </v-icon>
        &nbsp;
        Back To Cantact List
    </v-btn>
    <v-form
    @submit.prevent="add()"
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="nameInput"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      type="number"
      v-model="numberInput"
      label="Number"
      required
    ></v-text-field>

    <v-alert
      :class = alertDisplay
      border="top"
      color="#F91C1C"
    >
      Incorrect Validation
    </v-alert>

    <v-btn dark type='submit'>
        Add
        <v-icon>
            mdi-plus
        </v-icon>
    </v-btn>

  </v-form>
</v-container>
</template>

<script>
export default {
    data () {
      return {
          date : new Date(),
          context: this.$store.state.contactList,
          alertDisplay: 'alert-none'
        }
    },
    methods: {  
        goToContactList(){
            this.$router.push({name: 'contact-list'})
        },
        add(){
            // this.$store.commit("addContactMut", 
            // {
            //     name: this.nameInput,
            //     number: this.numberInput,
            //     date: ` ${`${this.date.getHours()}`.length > 1 ? this.date.getHours(): `0${this.date.getHours()}`}:${`${this.date.getMinutes()}`.length > 1 ? this.date.getMinutes():`0${this.date.getMinutes()}`}`
            // })
            if (this.nameInput === undefined || this.nameInput.length === 0 || this.numberInput === undefined || this.numberInput.length === 0) {
                this.alertDisplay = 'alert-block'; 
            }else{
                this.alertDisplay = 'alert-none';
                this.$store.state.contactList.push({
                    id: this.$store.state.lastIndex + 1,
                    name: this.nameInput,
                    number: this.numberInput,
                    createdDate: ` ${`${this.date.getHours()}`.length > 1 ? this.date.getHours(): `0${this.date.getHours()}`}:${`${this.date.getMinutes()}`.length > 1 ? this.date.getMinutes():`0${this.date.getMinutes()}`}`,
                    edited: false
                });
                this.$store.state.lastIndex++;
                localStorage.setItem("lastIndex", JSON.stringify(this.$store.state.lastIndex));            
                localStorage.setItem("contactVue", JSON.stringify(this.$store.state.contactList));
                this.goToContactList()
            }
        }
    },
}
</script>

<style lang="scss" scoped>
    .form-container{
        width: 500px !important;
        .v-alert{
            color: #fff;
        }
        .alert-block{
            display: block;
        }
        .alert-none{
            display: none;
        }
    }
</style>
