<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {
      }
    },
  }
</script>

<style lang="scss">
  // @import '~vuetify/src/stylus/main';

  *{
    font-family: Roboto !important;
    .top-button{
        margin: 20px 0;
        color: #fff !important;
    }
  }
</style>
