<template>
    <v-container>
        <v-btn color="#1562BF" class="top-button" @click="goToAdd()">
            Create new 
            <v-icon primary>
                mdi-plus
            </v-icon>
        </v-btn>
        <v-simple-table :key="componentKey" dark>
            <template v-slot:default>
            <thead>
                <tr>
                <th class="text-left">
                    #
                </th>
                <th class="text-left">
                    Name
                </th>
                <th class="text-left">
                    Number
                </th>
                <th class="text-left">
                    Created Date
                </th>
                <th class="text-left">
                    Edit
                </th>
                <th class="text-left">
                    Delete
                </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(contact, index) in localStorageContext" :key="contact.id"
                >
                <td>{{ index+1 }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.createdDate }}</td>
                <td>
                    <v-btn @click="gotoEdit(index)" depressed color="#BB9C00">
                        Edit
                    </v-btn>
                    &nbsp;
                    {{contact.edited ? 'edited' : null}}
                </td>
                <td>
                    <v-btn @click="deleteContact(contact.id)" depressed color="#F91C1C">
                        Delete
                    </v-btn>
                </td>
                </tr>
            </tbody>
            </template>
        </v-simple-table>
    </v-container>
</template>

<script>
export default {
    data(){
        return{
            context: this.$store.state.contactList,
            localStorageContext : null,
            renderComponent: true,
            componentKey: 0,
        }
    },
    methods: {   
        goToAdd(){
            this.$router.push({name: 'add'})
        },
        forceRerender() {
           this.componentKey += 1;  
        },
        deleteContact(id){
            this.$store.state.contactList.find((element, index) => {
                if (element.id == id) {
                    this.$store.state.contactList.splice(index, 1)
                    localStorage.setItem("contactVue", JSON.stringify(this.$store.state.contactList));     
                    this.localStorageContext = JSON.parse(localStorage.getItem("contactVue"));
                }
            })
            
        },
        gotoEdit(id){
            this.$router.push({name: 'edit'})
            this.$store.state.editedIndex = id
        }
    },
    beforeCreate: function () {
        if (localStorage.getItem("contactVue") === null) {
            localStorage.setItem("contactVue", JSON.stringify(this.$store.state.contactList));            
        }else{
            this.$store.state.contactList = JSON.parse(localStorage.getItem("contactVue"));
        }

        if (localStorage.getItem("lastIndex") === null) {
            localStorage.setItem("lastIndex", JSON.stringify(this.$store.state.lastIndex));            
        }else{
            this.$store.state.lastIndex = JSON.parse(localStorage.getItem("lastIndex"));
        }
    },
    created: function(){
        this.localStorageContext = JSON.parse(localStorage.getItem('contactVue'));
        console.log(this.localStorageContext);
    },
    computed: {
        list(){
            return this.$store.state.contactList
        },
    },
    watch: {
        localStorageContext: function(value){
            console.log("watched");
            console.log(value);
        }
    }
}
</script>

<style lang="scss" scoped>
    th{
        text-align: left !important;
    }
    .edited-text{
        margin-left: 20px;
        color: orange;
    }
</style>